{
  "presets": [
    "es2015",
    "es2017",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "<components>": "./src/components",
          "<containers>": "./src/containers",
          "<reducers>": "./src/reducers",
          "<actions>": "./src/actions",
          "<constants>": "./src/constants",
          "<sagas>": "./src/sagas",
          "<styles>": "./src/styles"
        }
      }
    ]
  ]
}